.header {
    height: 84px;
    border: 1px black solid;
    margin: 0 auto;
}

a {
    font-family: 'Inter', sans-serif;
    color: #232134;
    font-size: 16px;
    line-height: 20px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    margin-left: 50px;
}

.active {
    color: #5E96FC;
    font-weight: 500;
}